# Usage: cp .env.example .env && docker compose up -d

services:
  vaultwarden:
    image: ghcr.io/garyellow/vaultwarden-stream:latest
    container_name: vaultwarden
    restart: unless-stopped
    stop_grace_period: 120s
    env_file: .env
    volumes:
      - vaultwarden-data:/data
      # - tailscale-state:/var/lib/tailscale
    ports:
      - "8080:80"

volumes:
  vaultwarden-data:
  # tailscale-state:
